.nav-top {
    /* display:flex; */
    /* align-items: center; */
}

.white-icon {
    color: white;
}

.course {
    margin-left: 20px;
}

.margin-top {
    margin-top: 40px;
}

.kb-navigation-small li {
    list-style: none;
}

.kb-navigation-small li a {
    color: red;
}

.kb-navigation-small li a i {
    margin-right: 2rem;
}

.kb-navigation-small {
    font-size: x-large;
}

.x {
    color: black;
    display: flex;
    justify-content: flex-end;
}

.nav {
    background-color: black;
    height: 45px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav a i {
    color: white;
}

.navigation-small li {
    list-style: none;
}

.navigation-small li a {
    color: red;
}

.navigation-small li i {
    color: red;
}

.nav-height {
    height: 100%;
}